# Ignorar arquivos temporários do Python
__pycache__/
*.pyc

# Ignorar ambiente virtual (pesado e desnecessário no git)
venv/
.venv/
env/

# SEGURANÇA: NUNCA enviar suas senhas/chaves
.env

# Arquivos de sistema do Mac (lixo que o Finder cria)
.DS_Store

# Arquivos temporários do Streamlit (se houver)
.streamlit/secrets.toml